@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    box-sizing: border-box;
    position: relative;
    word-break: break-word;
    transition: all .5s;
  }

  *:disabled {
    opacity: .5;
  }

  html,
  body {
    background-color: #FFFFFF;
  }

  /* Custom Scroll bar */
  ::-webkit-scrollbar {
    width: .3rem;
    height: .3rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(2, 24, 10, 0.127);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #021805;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #031a01;
  }

  /* Custom Scroll bar END */
}

@layer components {

  .outfade-hero {
    background: linear-gradient(to right, #ebffeb, #ebffeb, #ebffeb, #ebffeb, transparent);
  }

  .outfade-loc {
    background: linear-gradient(to left, #ebffeb, #ebffeb,  #ebffeb, transparent);
  }
}